* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header .logo {
    width: 50%;
}

.header .logo img {
    width: 25%;
}

.header .icon {
    float: right;
}

.header .icon i {
    padding-left: 0.3em;
}

.body1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #111;
}

.body1 img {
    width: 100%;
}

.body1 .form1 {
    padding-top: 1em;
}

.body1 .form1 button {
    padding: 0.5em 1em;
    border-radius: 20px;
    background-color: #111;
    color: #fff;
    margin-top: 1em;
}
.body2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4em;
}
.body2 .body2-img1 img{
    width: 100%;
}
.body2 .body2-img1 .nav1{
    position: relative;
    position: absolute;
    top: 195vh;
    color: #fff;
    margin-left: 2em;
}
.body2 .body2-img1 .nav1 button{
    padding: 0.5em 1em;
    border-radius: 20px;
    background-color: #fff;
    color: #111;
    margin-top: 1em;
}
.body2 .body2-img2 img{
    width: 150%;
}

.body3 {
    width: 100%;
    display: flex;
    margin-top: 4em;
}

.body3 img {
    width: 100%;
}